/* logo replacement image*/
.logo-img{
    display:block;
    margin: 0 auto;
}

/* Banner Section Class*/
.banner-section{
    background-image: url();
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 75vh;
}

.hero-text{
    text-align: center;
    position: relative;
    transform: translate(10vh, 10vw);
}

/*Look for mouse placement inside of input */
input[type="text"]:focus{
    border-color: gold;
    box-shadow: 0 5px 5px black;
}

fieldset{
    border: 1px solid black;
    padding: 20px;
}

.center-info{
    margin: 0 auto;
}
.center-info img{
    display: block;
    margin: 0 auto;
}
.center-info h1{
    text-align: center;
}